.u-center-text {
  text-align: center;
}

.u-left-text {
  text-align: left;
}

.u-right-text {
  text-align: right;
}

.u-indent-text {
  margin-left: 10rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}
