.section-about {
  height: 95vh;
  padding: 8rem 0 13rem 0;
  position: relative;
  margin: 3rem;
}

.section-smack {
  height: 100vh;
  padding: 7rem 0;
  background-color: $color-red-light;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
  position: relative;
}

.section-buff-photos {
  padding: 8rem 0 25rem 0;
  margin-top: 0;
  background-image: linear-gradient(to left top,
  rgba($color-grey-light-1, 0.9),
  rgba($color-buff-gold, 0.9)),
  url(../images/Colorado_Buffaloes_logo.png);
  background-size: cover;
  background-position: center;
  position: relative;
}


.section-nobuff-photos {
  padding: 13rem 0 18rem 0;
  margin-top: -24rem;
  background-image: linear-gradient(to left top,
  rgba($color-red-light, .95),
  rgba($color-grey-light-1, .95)),
  url(../images/NEW_Herritage_H1.png);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
}
