$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-red-light: #E06D7C;
$color-red: #ED4747;
$color-blue: #1841eb;
$color-blue-light: #76a3eb;
$color-buff-gold: #cfb87a;
$color-grey-dark-3: #333;


//font

$default-font-size: 1.6rem;

// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
